.screen {
  height: 100vh;
  overflow: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-worldmap {
  background-image: url('../images/background-worldmap.webp');
}

.background-desk {
  background-image: url('../images/background-desk.webp');
}

.background-teamwork {
  background-image: url('../images/background-teamwork.webp');
}

.background-skyline {
  background-image: url('../images/background-skyline.webp');
}

.profile-picture {
  width: 75%;
  border-radius: 50%;
}

.img-not-draggable {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.invalid-feedback {
  color: #ff8a80!important;
}

.project-smartphone {
  width: 75%;
  border-radius: 10% 0% 20% 20%;
}

.project-laptop {
  width: 75%;
}

.slide-text-content {
  font-size: 1.2em;
}

.img-knowledge {
  margin: auto;
}

.language-button-group {
  position: absolute;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 999999;
}

.brand-container {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 999999;
}

.brand-img {
  height: 8vw;
}

.social-container {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 999999;
}

.social-link {
  margin: 5px;
  color: white;
  font-size: 4vw;
}

.social-link:hover {
  color: grey;
}