.card-heading {
    font-family: bold;
}

.parallax-container {
    height: auto;
}

.card {
    height:500px!important;
}

.profile-picture {
    width: 100%;
    border-radius: 50%;
}

.action-item {
    color: black!important;
}

.card-heading {
    font-family: sans-serif;
    font-weight: bolder;
}

p {
    text-align: justify;
}
