.card-heading {
    font-family: bold;
}

@media only screen and (max-width: 600px) {
    .parallax-container {
        height: auto;
    }
}

.profile-picture {
    width: 100%;
    border-radius: 50%;
}
