.card-heading {
    font-family: bold;
}

@media only screen and (max-width: 600px) {
    .parallax-container {
        height: auto;
    }
}

.profile-picture {
    width: 150px;
    float: left;
    margin-right: 15px;
    padding-top: 7px;
    border-radius: 50%;
}
