#fa-container {
  display: block;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 999999999;
}

#fa-inner {
  position: relative;
}

#fa-button {
  display: block;
  padding: 5px 12px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  border-radius: 50% 50%;
  border: none;
  bottom: 0px;
  right: 0px;
  font-size: 1.5em;
  opacity: 0.75;
  transition: all 0.4s;
  background: black;
  color: #fff;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.50);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.50);
}

#fa-button #fa-button-icon {
  font-size: 15px !important;
}

#fa-button.open {
  opacity: 1;
}

#fa-button:focus {
  outline: 0;
}

.fa-item:focus {
  outline: 0;
}

#fa-button #fa-button-icon {
  transform: rotate(0deg);
  transition: all 0.4s;
}

#fa-button.open #fa-button-icon {
  transform: rotate(270deg);
}

#fa-menu {
  position: absolute;
  bottom: 60px;
  right: 0px;
  width: 200px;
  display: none;
}

#fa-menu li {
  width: 100%;
  float: right;
  list-style: none;
  text-align: right;
  margin-bottom: 5px;
}

#fa-menu li button {
  padding: 10px 14px;
  display: inline-block;
  background: white;
  color: black;
  font-size: 1.57em;
  border-radius: 50% 50%;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.4s;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.50);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.50);
}

#fa-menu li button:hover {
  margin-right: 10px;
  text-decoration: none;
}

button > * {
  pointer-events: none;
}